/* 
Author: Tiancheng Yang
*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.register-container {
    padding: 2em;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.register-container h1 {
    margin: 0 0 1rem;
    color: #007bff;
}

.register-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    color: #495057;
}

.register-container input:focus {
    outline: none;
    border-color: #80bdff;
}

.register-container .login-button,
.register-container .back-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.register-container .login-button:hover,
.register-container .back-button:hover {
    background-color: #0056b3;
}

.register-container .login-button:focus,
.register-container .back-button:focus {
    outline: none;
}

.register-container .status-info {
    font-size: 0.9rem;
    text-align: left;
    color: #6c757d;
}
